<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-d{yyyy-MM-dd HH:mm:ss} [%p] [%c{1}] [%t] %30.30C.%M():%L - %m%n" />
		</layout>
		<!-- <filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="info" />
		</filter> -->
	</appender>

	<appender name="sf-nirvana-os" class="org.apache.log4j.FileAppender">
		<param name="Append" value="false" />
		<param name="file" value="../logs/sf-nirvana-os.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-d{yyyy-MM-dd HH:mm:ss} [%p] [%c{1}] [%t] %30.30C.%M():%L - %m%n" />
		</layout>
	</appender>
    
    <appender name="sf-nirvana-os-ehcache" class="org.apache.log4j.FileAppender">
        <param name="Append" value="false" />
        <param name="file" value="../logs/sf-nirvana-os-ehcache.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-d{yyyy-MM-dd HH:mm:ss} [%p] [%c{1}] [%t] %30.30C.%M():%L - %m%n" />
        </layout>
    </appender>
    
    <logger name="org.jgroups" additivity="false">
        <level value="debug" />
        <appender-ref ref="sf-nirvana-os-ehcache" />
    </logger>
    
	<!-- <root>
		<priority value="TRACE" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="sf-nirvana-os" />
	</root> -->
	
	<root>
		<priority value="DEBUG" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="sf-nirvana-os" />
	</root>

	
</log4j:configuration>